In [1]:
import pandas as pd

In [4]:
action_df = pd.read_json("actionkbv3.json")
action_df.to_csv("actionkb.csv", index=False)
action_df.head()

In [66]:
action_df[action_df.name == "create calendar item"]

,data,desc,id,more,name,params,provider,samples
9,[],None,700009,{'provider': 'Google Calendar'},create calendar item,"[{'desc': None, 'name': 'subject', 'sample': N...",NaN,[]

In [70]:
action_df[action_df.name == "create calendar item"].params.values

array([list([{'desc': None, 'name': 'subject', 'sample': None}, {'desc': None, 'name': 'at what time?', 'sample': None}, {'desc': None, 'name': 'which day?', 'sample': None}])],
      dtype=object)

In [5]:
user_df = pd.read_json("userkbv2.json")
user_df.to_csv("userkb.csv", index=False)
user_df.head()

,address,facebook,group,mail,name,phone,skype,tags,twitter
0,"Rua Central, 35, Rio de Janeiro, Brasil",malice,classmates,maria@alice.com.br,Maria Alice,555 111 222,maria.alice,my wife,malice
1,"7 North Avenue, New York, USA",jsanders,None,john@fam.com,John Sanders,111 555 777,johnjohn,None,jsanders
2,"Rua das Rosas, 10, Rio de Janeiro, Brasil",sandrade,classmates,sandra@andrade.com.br,Sandra Andrade,555 222 999,sandrinha,Tech Manager,sa
3,"Calle Catedral 39, Santiago, Chile",enricoh,classmates,enrico@hernandez.cl,Enrico Hernandez,444 666 333,enrico,None,enricohcl
4,"Calle San Pablo 22, Santiago, Chile",carmensouza,family,carmen@souza.cl,Carmen Souza,777 888 999,carmensouza,None,carmensouza

In [13]:
command_action_df = pd.read_json("mappingv3.json") #Command-Action mapping file
command_action_df.head()

,action_instances,id,nl_command_statment
0,"[{'options': [{'id': 601225, 'name': 'new emai...",101,Pay the invoice that I will receive from conta...
1,"[{'options': [{'id': 601225, 'name': 'new emai...",102,Pay in the bank my purchases that I will soon ...
2,"[{'options': [{'id': 601225, 'name': 'new emai...",105,Make a payment using my bank account when I re...
3,"[{'options': [{'id': 601225, 'name': 'new emai...",106,Pay my Good Sports Store account balance using...
4,"[{'options': [{'id': 601225, 'name': 'new emai...",107,Wait for a new email from the sender contact@g...

In [62]:
command_action_df.to_csv("command.csv")

In [59]:
command_action_df.action_instances[3]

[{'options': [{'id': 601225,
    'name': 'new email from',
    'params': {"sender's address": 'contact@gs-store.de'}},
   {'id': 600599,
    'name': 'new email in inbox from',
    'params': {'email address': 'contact@gs-store.de'}}]},
 {'id': 700000,
  'name': 'make a payment',
  'params': {'invoice': '<return1>.attachment', 'method': 'bank'}},
 {'id': 600603,
  'name': 'send an email',
  'params': {'attachment url': '<return2>',
   'to address': 'contact@gs-store.de'}}]

In [61]:
command_action_df.nl_command_statment[3]

'Pay my Good Sports Store account balance using my bank account on the day I receive an email with a payment invoice from contact@gs-store.de, and send the payment receipt back to the store.'

In [14]:
command_action_df.nl_command_statment[0]

'Pay the invoice that I will receive from contact@gs-store.de with my cred card, then send the payment receipt to them using the same address.'

In [17]:
command_action_df.action_instances[0]

[{'options': [{'id': 601225,
    'name': 'new email from',
    'params': {"sender's address": 'contact@gs-store.de'}},
   {'id': 600599,
    'name': 'new email in inbox from',
    'params': {'email address': 'contact@gs-store.de'}}]},
 {'id': 700000,
  'name': 'make a payment',
  'params': {'invoice': '<return1>.attachment', 'method': 'credit card'}},
 {'id': 600603,
  'name': 'send an email',
  'params': {'attachment url': '<return2>',
   'to address': 'contact@gs-store.de'}}]

In [23]:
action_df.head()

,data,desc,id,more,name,params,provider,samples
0,"[{'desc': 'the proof of payment', 'name': 'rec...",None,700000,{},make a payment,"[{'desc': 'the invoice to be paid', 'name': 'c...",NaN,[]
1,"[{'desc': None, 'name': 'datetime', 'sample': ...",None,700001,{},new deposit in your account from sender,"[{'desc': None, 'name': 'sender name', 'sample...",NaN,[]
2,"[{'desc': None, 'name': 'text', 'sample': None}]",this action receives a file and returns their ...,700002,{},read file content,"[{'desc': 'file to be read', 'name': 'file', '...",NaN,[]
3,[],this is an information extraction action that ...,700003,{},extract content,"[{'desc': 'information to be extracted', 'name...",NaN,[]
4,[],None,700004,{},buy a product by id,"[{'desc': 'product id', 'name': 'id', 'sample'...",NaN,[]

In [24]:
action_df.data[0]

[{'desc': 'the proof of payment', 'name': 'receipt', 'sample': None}]

In [41]:
comman_action_df[command_action_df.id == 102]

,action_instances,id,nl_command_statment
1,"[{'options': [{'id': 601225, 'name': 'new emai...",102,Pay in the bank my purchases that I will soon ...
82,"[{'id': 700006, 'name': 'search image on Flick...",102,"Search for ""Darth Vader"" on Flickr. Upload the..."

In [42]:
comman_action_df.action_instances[1]

[{'options': [{'id': 601225,
    'name': 'new email from',
    'params': {"sender's address": 'contact@gs-store.de'}},
   {'id': 600599,
    'name': 'new email in inbox from',
    'params': {'email address': 'contact@gs-store.de'}}]},
 {'id': 700000,
  'name': 'make a payment',
  'params': {'invoice': '<return1>.attachment', 'method': 'bank'}},
 {'id': 600603,
  'name': 'send an email',
  'params': {'attachment url': '<return2>',
   'to address': 'contact@gs-store.de'}}]

In [43]:
comman_action_df.nl_command_statment[1]

'Pay in the bank my purchases that I will soon receive from contact@gs-store.de. Send the proof of payment back to the store.'

In [44]:
comman_action_df.action_instances[82]

[{'id': 700006,
  'name': 'search image on Flickr',
  'params': {'query': 'Darth Vader'}},
 {'id': 600431,
  'name': 'create a link post',
  'params': {'link url': '<return1>.image_url',
   'message': "Hi guys, let's watch the Star Wars movie next Friday?"}}]

In [46]:
comman_action_df.nl_command_statment[82]

'Search for "Darth Vader" on Flickr. Upload the photo and the following message on Facebook: Hi guys, let\'s watch the Star Wars movie next Friday?'

In [74]:
action_df.id.unique()

array([700000, 700001, 700002, ..., 503842, 503843, 503844], dtype=int64)

In [75]:
set(action_df.id.unique()).intersection(command_action_df.id.unique())

set()

In [76]:
set(command_action_df.id.unique()).intersection(action_df.id.unique())

set()

In [72]:
command_action_df.id.unique()

array([ 101,  102,  105,  106,  107,  401,  402,  403,  404,  501,  502,
        503,  601,  602,  701,  702,  703,  704,  705,  801,  802,  803,
        804,  805,  506,  807,  808,  901,  902, 1001, 1002, 1003, 1004,
       1005, 1101, 1102, 1103, 1104, 1105, 1106, 1201, 1202, 1203, 1204,
       1301, 1302, 1303, 1304, 1305, 1306, 1401, 1402, 1403, 1404, 1405,
       1406, 1407, 1408, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1601,
       1602, 1603, 1604, 1605, 1701, 1702, 1703, 1704, 1705, 1801, 1802,
       1803, 1804, 1805, 1806, 1901, 1903, 1904, 2001, 2002, 2003, 2004,
       2005, 2006, 2101, 2102, 2103, 2104, 2601, 2602, 2603, 2605, 2606,
       2607, 2901, 2902, 2903, 3111, 3112, 3113, 3121, 3122, 3123, 3124,
       3125, 3126, 3127, 3128, 3201, 3202, 3203, 3204, 3301, 3302, 3303,
       3304, 3401, 3403, 3404, 3405, 3501, 3502, 3503, 3504, 3601, 3602,
       3603, 3604, 3605, 3606, 3701, 3702, 3703, 3704, 3705, 3706, 3801,
       3802, 3803, 3804, 3901, 3902, 3903, 3904, 3905, 4001, 4002, 4003,
       4004, 4005, 4006, 4007, 4101, 4102, 4104, 4105, 4201, 4202, 4301,
       4302, 4303, 4304, 4305, 4401, 4402, 4403, 4501, 4502, 4503, 4601,
       4602, 4701, 4702], dtype=int64)